

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Barra de Progreso</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'" ></div>
              </div>
              <br>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'" ></div>
              </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <app-incrementador (cambioValor)="progreso1=$event" nombre="leyenda azul" [progreso]="progreso1"></app-incrementador>



              <!--
              <div class="input-group">
              <input
              name="progreso"
              [(ngModel)]="progreso"
               type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                <button
                (click)="cambiarValor(-5)"
                 class="btn btn-outline-primary" type="button">
                  <i class="mdi mdi-minus"></i>
                </button>
                <button
                (click)="cambiarValor(+5)"
                 class="btn btn-outline-primary" type="button">

                  <i class="mdi mdi-plus"></i>
                </button>
                </div>
              </div>
              -->

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

              <app-incrementador (cambioValor)="progreso2=$event" nombre="leyenda verde" [progreso]="progreso2"></app-incrementador>

            </div>
        </div>
    </div>
</div>
